<div class="flex flex-col">
  <div class="flex flex-row justify-center">
    <h2 class="text-2xl font-semibold text-gray-800">
      {{ title }}
    </h2>
  </div>

  <ul class="bg-gray-200 p-4 rounded-sm mt-4 text-gray-600">
    <li
      *ngFor="let person of people$ | async"
      class="p-2 divide-x-4 divide-y divide-gray-800"
    >
      <div class="flex flex-row items-center gap-4">
        <div class="flex-shrink-0 h-10 w-10">
          <img class="h-10 w-10 rounded-full" [src]="person.avatar" alt="" />
        </div>
        <span>{{ person.firstName }} {{ person.lastName }}</span>
      </div>
    </li>
  </ul>
</div>
